*{
    padding: 0;
    margin: 0;
    border: 0;
}
.fondo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: big jhon;
    width: 100%;
    height: 100vh;
}
.text{
    font-size: 60px;
    background-color: gainsboro ;
    padding: 8px 24px;
    border-radius: 15px;
}
.div1{
    background-image: url('/img/img1.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.div2{
    background-color: brown;
}
.div3{
    height: 400px;
    background-image: url('/img/img2.jpg');
    background-attachment: fixed;
    background-size: cover ;
}
.div4{
    background-color: rgb(76, 76, 243);
}